<div class="bg-dark p-5">
  <div class="container bg-white text-center p-5 my-5 rounded">
    <h1> <%= current_user.first_name %> <%= current_user.last_name %> </h1>
    <h2 class="h3"> <%= current_user.email %></h2>
    <p class="h3 my-5"> <%= current_user.description %> </p>
    <%= link_to "Modifier ses informations importantes", edit_user_registration_path, class:"" %>
    <hr class="my-5">
    <div class="">
    <h3>Evènements postés :</h3>
      <% current_user.events.each do |event| %>
        <h4> <%= event.title %> <%= link_to "Voir l'évènement", event_path(event.id), class:"" %></h4>
      <% end %>
    </div>  
  </div>
</div>