<!DOCTYPE html>
<html>
  <head>
    <title>ThpEventbrite</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Montserrat', media: 'all', 'data-turbolinks-track' => true %>    
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <%= link_to root_path, class: "navbar-brand" do %>
          <i class="fas fa-american-sign-language-interpreting mr-2"></i> THP EventBrite
        <% end %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <%= link_to 'Accueil', root_path, class: "nav-link" %>
            </li>
            <li class="nav-item active">
              <%= link_to 'Créer un évènement', new_event_path, class: "nav-link" %>
            </li>
            <% if user_signed_in? %>
              <li class="nav-item active">
                <%= link_to "Mon Profil", user_path(current_user), class: "nav-link" %>
              </li>
              <li class="nav-item active">
                <%= link_to "Se déconnecter", destroy_user_session_path, class: "nav-link", method: :delete %>
              </li>
            <% else %>
              <li class="nav-item active">
                <%= link_to "S'inscrire", new_user_registration_path, class: "nav-link" %>
              </li>
              <li class="nav-item active">
                <%= link_to "Se connecter", new_user_session_path, class: "nav-link" %>
              </li>
            <% end %>

          </ul>
          </div>
        </div>
      </nav>
    </header>

    <% flash.each do |key, value| %>
      <div class="alert alert-warning alert-dismissible fade show mb-0"><%= value %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% end %>

    <%= yield %>

    <!-- Footer -->
    <footer class="text-center text-secondary p-5">
      <div class="my-4">
        <%= link_to root_path, class: "h1 text-decoration-none" do %>
          <i class="fas fa-american-sign-language-interpreting mr-2"></i> THP EventBrite
        <% end %>
      </div>  
      <p class="h5 mb-5">Made with <i class="fas fa-heart"></i> by <a href="http://github.com/anhek" class="">Antonin Nhek</a></p>
    </footer>

    <!-- Chargement des scripts en fin de body -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    
    <script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function() {
      'use strict';
      window.addEventListener('load', function() {
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.getElementsByClassName('needs-validation');
        // Loop over them and prevent submission
        var validation = Array.prototype.filter.call(forms, function(form) {
          form.addEventListener('submit', function(event) {
            if (form.checkValidity() === false) {
              event.preventDefault();
              event.stopPropagation();
            }
            form.classList.add('was-validated');
          }, false);
        });
      }, false);
    })();
    </script>   
     
  </body>
</html>
